
language: node_js

notifications:
  email:
    on_success: never
    on_failure: never

node_js:
  - node


script:
  - npm start

after_success:
  - chmod +x ./.travis/restart.sh
  - ./.travis/restart.sh

after_failure:
  - chmod +x ./.travis/restart.sh
  - ./.travis/restart.sh
